{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./gradlew clean release -Pversion=${nextRelease.version}",
        "successCmd": "echo ${nextRelease.version} > VERSION"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build/libs/pillarbox-monitoring-transfer.jar"
          },
          {
            "path": "LICENSE",
            "label": "License"
          },
          {
            "path": "README.md",
            "label": "Readme"
          }
        ]
      }
    ]
  ]
}
