<configuration>
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

  <property name="profile" value="${PILLARBOX_PROFILE:-local}"/>
  <include resource="logback-${profile}.xml"/>

  <logger name="io.ktor" level="INFO"/>
  <logger name="kotlinx.coroutines" level="INFO"/>
</configuration>
